---
import Layout from "../../layouts/Layout.astro";
import SideCard from "../../components/SideCard.astro";

interface AboutContent {
    lang: string;
    title: string;
    brand_title: string;
    brand_description: string;
    author_title: string;
    author_description: string;
}

interface Props {
    content: AboutContent;
}

export function getStaticPaths() {
    const pages: Array<AboutContent> = [
        {
            lang: "en",
            title: "About Us",
            brand_title: "Brand Vision",
            brand_description:
                'MAVERICK was established in 2022 with a relentless pursuit to discover perfection amidst what the world defines as ordinary. We emerge from the saturated landscape of aesthetics, determined to stand out.\n  MAVERICK, meaning "unique" or "exceptional," symbolizes our presence in the current era of aesthetic saturation. Like a wildflower amidst a rose garden, it becomes difficult to distinguish whether it is the beauty of the rose or the uniqueness of the wildflower that captivates attention as each flower possesses its own distinct nature. MAVERICK firmly believes that only by staying true to ourselves can we truly achieve our own distinctive style',
            author_title: "Creative Director: Lin Li",
            author_description:
                "Li Lin graduated from the Shanghai campus of the Sino-French École Supérieure des Arts et Techniques de la Mode, majoring in fashion design. After graduating, she pursued further studies in the United States at the San Francisco Art Institute, where she completed her MFA. She subsequently worked in New York before returning to Shanghai and partnering with a Canadian fashion designer to establish a fashion design company. During this time, she also became involved in accessory design and independently founded MAVERICK. Observing the current design landscape upon returning to China, where numerous designer brands appeared to follow a similar aesthetic trend despite their diversity, Li Lin sought to break through the saturation of aesthetics, leading to the birth of MAVERICK. Li Lin is also preparing to continue her studies in jewelry design in Canada, hoping that MAVERICK can grow and progress alongside her, bringing more surprises to consumers.",
        },
        {
            lang: "cn",
            title: "About Us",
            brand_title: "设计理念",
            brand_description:
                "品牌创立于2022年力求在世界定义的平凡中寻找完美，在审美饱和化的现状中脱颖而生。MAVERICK意为“特别”在当今审美饱和化中，犹如在玫瑰园中的野花，便道不清是玫瑰美还是野花特别了。各花各有各花香。MAVERICK认为只有坚守态度，才能成就自己的风格",
            author_title: "创意总监",
            author_description: "设计师李琳毕业于中法埃菲时装设计师学院上海校区，主修时装设计。毕业后到美国就读于美国旧金山艺术大学继续深造完成硕士学位。先后在纽约工作再回到上海与加拿大时装设计师品牌合伙成立上海公司。在这期间同时接触到了饰品设计， 因此独立成立了MAVERICK玫瑰园野花。 因为不断地吸收着多元审美，回国后看到当下的设计风格看似虽随百花绽放，设计师品牌众多，却在无形中形成了一种审美趋同的现象，故而试图冲破审美饱和化的现状，MAVERICK玫瑰园野花也就由此诞生。设计师李琳也即将赴加拿大多伦多继续学习珠宝设计，希望MAVERICK可以如其一起共同成长进步，带给消费者更多的惊喜。",
        },
    ];
    return pages.map((content) => {
        const l = content.lang;
        return {
            params: { lang: l },
            props: { content },
        };
    });
}

import ProfileImg from "../../assets/images/profile.jpg";
import AboutImg from "../../assets/images/about_3.jpg";

const { lang } = Astro.params;
const { content } = Astro.props;
---

<Layout title={content.title}>
    <main class="max-w-3x mx-auto py-12 min-h-screen bg-off-white">
        <div class="container mx-auto px-2 md:px-0">
            <div class="flex flex-col gap-12">
                <SideCard
                    title={content.brand_title}
                    caption={content.brand_description}
                    img={AboutImg}
                    img_first={true}
                />
                <SideCard
                    title={content.author_title}
                    caption={content.author_description}
                    img={ProfileImg}
                    img_first={true}
                />
            </div>
        </div>
    </main>
</Layout>
